[submodule "Home"]
	path = Home
	url = git@github.com:Telephone-QtApp/Home.git
[submodule "ServiceWrapper"]
	path = ServiceWrapper
	url = git@github.com:Telephone-QtApp/ServiceWrapper.git
[submodule "Common"]
	path = Common
	url = git@github.com:BaoTruong101197/Common.git
